/* Light mode styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.1);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.07);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    font-family: var(--font-geist-sans);
  }
}

/* Dark mode styles */
body.dark-mode {
  --background: #171717;
  --foreground: #ffffff;
  color: var(--foreground);
  background: var(--background);

  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

* {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Updated table styling */
.table {
  border-collapse: collapse;
  margin: 16px 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid var(--gray-alpha-200);
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: var(--gray-alpha-100);
  font-weight: bold;
  color: var(--foreground);
}

.table tr:nth-child(even) {
  background-color: var(--gray-alpha-100);
}

.table tr:hover {
  background-color: var(--button-secondary-hover);
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--background);
  border: 1px solid var(--gray-alpha-200);
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: var(--button-primary-hover);
  color: var(--foreground);
}

.pagination select {
  margin: 0 8px;
  padding: 8px;
  border: 1px solid var(--gray-alpha-200);
  background-color: var(--background);
  color: var(--foreground);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
